<h2>Tempalte en dev</h2>
<hr>

<ul class="list-group">
  <li class="list-group-item" [routerLink]="item.ruta" *ngFor="let item of templateMenu" routerLinkActive="active">{{
    item.texto}}</li>

</ul>
<h2 class="mt-5">Reactive</h2>
<hr>
<ul class="list-group">
  <li class="list-group-item" [routerLink]="item.ruta" *ngFor="let item of recativeMenu" routerLinkActive="active">{{
    item.texto}}</li>

</ul>


<h2 class="mt-5">Validaciones</h2>
<hr>
<ul class="list-group">
  <li class="list-group-item" [routerLink]="item.ruta" *ngFor="let item of authMenu" routerLinkActive="active">{{
    item.texto}}</li>

</ul>
