<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del producto">
          <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">
            Debe de ser de 3 letras
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" formControlName="precio" placeholder="Precio del producto">
          <span class="form-text text-danger" *ngIf="campoEsValido('precio')">
            El precio debe de ser 0 o mayor
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" formControlName="existencias"
            placeholder="Existencias del producto">

          <span class="form-text text-danger" *ngIf="campoEsValido('existencias')">
            Las existencias deben de ser 0 o mayor
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="row">
  <div class="col">

    <span>Valid</span>
    <pre>{{ miFormulario.valid }}</pre>

    <span>Pristine</span>
    <pre>{{ miFormulario.pristine }}</pre>

    <span>Touched</span>
    <pre>{{ miFormulario.touched }}</pre>

    <span>Value</span>
    <pre>{{ miFormulario.value | json }}</pre>

    <span>Precio</span>
    <pre>{{ miFormulario.controls.precio.errors | json }}</pre>
  </div>
</div>
