<h2>Template:basicos</h2>
<hr>
<div class="row">
  <div class="col">
    <form action="" (ngSubmit)="guardar()" #miFormulario="ngForm">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nombre del Producto" ngModel name="producto" required minlength="3">
          <span class="form-text text-danger" *ngIf="nombreValido()">Debe ser de 3 letras</span>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" placeholder="Precio del Producto" ngModel name="precio" required>
          <span class="form-text text-danger" *ngIf="precioValido()">El precio debe ser cero o mayor</span>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" placeholder="Existencias del Producto" ngModel name="existencias" customMin [minimo]="0" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end" [disabled]="miFormulario.invalid">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span> Valid</span>
    <pre> {{ miFormulario.valid | json}}</pre>
    <span> Pristine</span>
    <pre> {{ miFormulario.pristine | json}}</pre>
    <span> Touch</span>
    <pre> {{ miFormulario.touched | json}}</pre>
    <span> Valid</span>
    <pre> {{ miFormulario.value | json}}</pre>
  </div>
</div>
