<h2>Validaciones Reactivas</h2>
<hr>


<div class="row">
  <div class="col">
    <form [formGroup]="miFormulario" (ngSubmit)="submitFormulario()" autocomplete="off">
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nombre del usuario" formControlName="nombre">
          <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">Debe ser en formato de nombre y
            apellido</span>
        </div>
      </div>


      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" placeholder="Email del usuario" formControlName="email">
          <span class="form-text text-danger" *ngIf="campoNoValido('email')">{{ emailErrors}}</span>

        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">User Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nombre/codigo del usuario" formControlName="username">
          <span class="form-text text-danger" *ngIf="campoNoValido('username')">El username no puede ser xxx</span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" formControlName="password">
          <span class="form-text text-danger" *ngIf="campoNoValido('password')">Debe ser mayor o igual a 6</span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" formControlName="password2">
          <span class="form-text text-danger" *ngIf="campoNoValido('password2')">Debe conincidir con pass 1</span>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit">
            Crear
          </button>
        </div>
      </div>


    </form>
  </div>
</div>


<h5>FormValid: {{ miFormulario.valid }} </h5>
<h5>Nombre</h5>
<pre>{{ miFormulario.controls.nombre.errors | json }}</pre>
<h5>Email</h5>
<pre>{{ miFormulario.controls.email.errors | json }}</pre>
<h5>User Name</h5>
<pre>{{ miFormulario.controls.username.errors | json }}</pre>
<h5>Pasword</h5>
<pre>{{ miFormulario.controls.password.errors | json }}</pre>
<h5>Confirmar</h5>
<pre>{{ miFormulario.controls.password2.errors | json }}</pre>
